<!DOCTYPE html> 
<html>
  <head>
   <link href="/css/bootstrap.css" rel="stylesheet">
   <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
</head>
<body>
<div class="container">
  <div class="row">
      <div class="span4">
        <dl>
            <dt>Title</dt>
                <dd><%= @link.title %></dd>
            <dt>URL</dt>
                <dd><a href="<%= @link.url %>"><%= @link.url %></a></dd>
            <dt>Date Created</dt>
                <dd><%= @link.created_at %></dd>
            <dt>Description</dt>
                <dd><%= @link.description %></dd>
        </dl>
            <a href="/">Home</a>
      </div>
  </div>
</div>
</body>
</html>